#app {
    color : black;
}

#app .pagelogin {
    padding-top: 4rem;
    text-align: center;
    margin: auto;
}

#app header, #app main{
    z-index: 9;
    position: relative;
    padding : 1em;
}

#app main {
    padding: 3em;
}

#app footer {
    z-index: 0;
    position: absolute;
    width: 100%;
    top : 0;
    left: 0;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('images/backgrounds/font14.jpg');
    background-position: bottom right;
    // background-repeat: repeat-y;
    opacity: .6;
}

#app .btn {
    margin: auto;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 3rem black;
    width: 10rem;
    height: 3.5rem;
    color : blue;
    text-decoration: blue;
    font-size: 1.1rem;
    font-family: cursive, Geneva, Verdana, sans-serif
}

#app .btnConsulter {
    background-color: rgba(108, 117, 125, 1);
    width: 35rem;
}
#app .btnConsulter:hover {
    background-color: rgba(108, 117, 125, 0.8);
    // background:linear-gradient(grey, white);
    color :bisque;    
}

#app .btnUsersLogin {
    background-color: rgba(199, 169, 3, 1);
    width: 25rem;
}

#app .btnUsersLogin:hover {
    background-color: rgba(199, 169, 3, 0.8);
    width: 25rem;
    color :bisque;
}

#app .btnCreate {
    background-color: rgba(0, 123, 255, 1);
    margin-left: 0.5em;
}
#app .btnCreate:hover {
    background-color: rgba(0, 123, 255, 0.8);
    color :bisque;
}

#app .btnAjout {
    background-color: rgba(40, 167, 69, 1);
    margin-left: 1em;
    margin-right: 1em;
}
#app .btnAjout:hover{
    background-color: rgba(40, 167, 69, 0.8);
    color :bisque;  
}

#app .btnRet {
    background-color: rgba(220, 53, 69, 1);
}
#app .btnRet:hover {
    background-color: rgba(220, 53, 69, 0.8);
    // background:linear-gradient(red, white);
    color :bisque;  
}

#app .btnRec {
    background-color: rgba(108, 117, 125, 1);
    width: 35rem;
}
#app .btnRec:hover {
    background-color: rgba(108, 117, 125, 0.8);
    // background:linear-gradient(blue, white);
    color :bisque;  
}

section {
    margin: auto;
    text-align: center;;;
}
















// #app .btnacc:hover{
//     background:linear-gradient(white, white);
// }

// #app .btnTriTir:hover{
//     background:linear-gradient(black, white);   
// }

// #app .btnTriProd:hover{
//     background:linear-gradient(black, white);
// }


// #app .btnval:hover{
//     background:linear-gradient(white, blue);
// }

// #app .btnsupp:hover{
//     background:linear-gradient(white, red);
// }